<div class="fondo">
<h1>Perfil</h1>
<div class="divp">
<p class="bold">Email:
</p>
{{user.email}}
<p class="bold">
isAdmin:
</p>
{{user.isAdmin}}

<p class="bold">Cart:
</p>
{{user.cart}}

<br>
<a href='/products'><button>ir a Productos</button></a>
<a href='/auth/logout'><button>Salir</button></a>
</div>
</div>