* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../img/shopping-cart-filled-with-coins-copy-space-background.jpg);
  background-size: cover;
}

.container-form {
  display: flex;
  border-radius: 20px;
  box-shadow: 0 5px 7px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  height: 500px;
  transition: all 1s ease;
  margin: 10px;
}

.information {
  width: 40%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #c7eef3;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.info-childs {
  width: 100%;
  padding: 0 20px;
}

.info-childs h2 {
  font-size: 2.3rem;
  color: #333;
}

.info-childs p {
  margin: 15px 0;
  color: #555;
}

.info-childs input {
  background-color: transparent;
  outline: none;
  border: solid 2px #9191bd;
  border-radius: 20px;
  padding: 10px 20px;
  color: #9191bd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.info-childs input:hover {
  background-color: #9191bd;
  border: none;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  text-align: center;
  background-color: #f8f8f8;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  color: #333;
  font-size: 2rem;
}

.form-information-childs p {
  color: #555;
}

.icons {
  margin: 15px 0;
}

.icons i {
  border-radius: 50%;
  padding: 15px;
  cursor: pointer;
  margin: 0 10px;
  color: #9191bd;
  border: solid thin #9191bd;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.icons i:hover {
  background-color: #c7c7f3;
  color: #fff;
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 0 10px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 20px;
  color: #333;
}

.form label i {
  color: #a7a7a7;
}

.form input[type='submit'] {
  background-color: #9191bd;
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
}

.form input[type='submit']:hover {
  background-color: #a7aa9a;
}

.buttonResetPass {
  text-decoration: none;
  color: #333333;
  margin: 0 auto;
}

.buttonResetPass:hover {
  background-color: #333333;
  color: #f2ff03;
  transition: 0.3s;
  padding: 5px;
  border-radius: 10px;
}

/* Responsive Form */
@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  html {
    font-size: 12px;
  }

  .container-form {
    height: auto;
    flex-direction: column;
  }

  .information {
    width: 100%;
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .form-information {
    width: 100%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
}

.container-msg {
  border: 1px solid royalblue;
}

.linea {
  border-bottom: blueviolet 1px solid;
}

/* Estilo para el título "Perfil" */
h1 {
  font-size: 24px;
  color: #CE1126; /* Rojo italiano para destacar el título */
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.5);

}

/* Estilo para los botones "ir a Productos" y "Salir" */
button {
  background-color: #009246; /* Verde italiano */
  color: #FFFFFF; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
}

/* Estilo para el título "Perfil" */
h1 {
  font-size: 24px;
  color: #CE1126; /* Rojo italiano para destacar el título */
  margin-bottom: 20px;
  text-align: center; /* Centrar el texto */
}

/* Estilo para la sección de información del perfil */
.divp {
  font-size: 16px;
  color: #333; /* Texto oscuro */
  margin: 10px 0; /* Añadir margen arriba y abajo */
  text-align: center; /* Centrar el texto */
  background-color: rgba(255, 255, 255, 0.5);
  

}
.fondo{
  background-image: url('../img/fondo.jpg'); /* Ruta a tu imagen de fondo */
  background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
  background-position: center; /* Centra la imagen en el contenedor */
  background-repeat: no-repeat; /* Evita la repetición de la imagen */
  width: 100%; /* Ajusta el ancho del contenedor al 100% del padre */
  height: 100vh; /* Ajusta la altura del contenedor al 100% de la ventana del navegador */
}
.bold{
  font-weight: bold;
}

/* Estilo para los botones "ir a Productos" y "Salir" */
button {
  background-color: #009246; /* Verde italiano */
  color: #FFFFFF; /* Texto blanco */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 10px 10px 10px ; /* Añadir margen izquierdo y derecho */
  display: inline-block; /* Para que los botones estén uno al lado del otro */
}

/* Cambiar el color de fondo al pasar el mouse sobre los botones */
button:hover {
  background-color: #007B3D; /* Verde un poco más oscuro al pasar el mouse */
}

/* Estilo para los enlaces dentro de los botones */
button a {
  text-decoration: none;
  color: #FFFFFF; /* Texto blanco */
}

/* Alinear el texto de los botones al centro */
button a, button {
  text-align: center;
}

